# Full path to the System Under Test (or Java Main Class name)
executable:${TEXTTEST_ROOT}/../bin/copier

# Naming scheme to use for files for stdin,stdout and stderr
filename_convention_scheme:standard

# Expanded name to use for application
full_name:Copier Test

create_catalogues:true
discard_file:stderr

[collate_file]
catalogue_tt:test/GenerateProject/catalogue.tt
config_tt:test/config.tt
copier_yaml:copier.yaml
main_yml:.github/workflows/main.yml
options_tt:test/options.tt
pre-commit_yaml:.pre-commit-config.yaml
renovate_json5:.github/renovate.json5
template_renovate_json5:template/.github/renovate.json5
