# Full path to the System Under Test (or Java Main Class name)
executable:${TEXTTEST_ROOT}/../bin/copier

# Naming scheme to use for files for stdin,stdout and stderr
filename_convention_scheme:standard

# Expanded name to use for application
full_name:copier-bootstrap

create_catalogues:true

[collate_file]
catalogue_tt:test/GenerateProject/catalogue.tt
config_tt:test/config.tt
copier_yaml:copier.yaml
main_yml:.github/workflows/main.yml
options_tt:test/options.tt
pre-commit_yaml:.pre-commit-config.yaml
renovate_json5:.github/renovate.json5
stderr_tt:test/GenerateProject/stderr.tt
template_renovate_json5:template/.github/renovate.json5.copier-jinja

[run_dependent_text]
main_yml:([A-Za-z0-9_]+?_VERSION:) \S+{REPLACE \1 version}
main_yml:(-? uses: [\w-]+\/[.\w-]+)@.+${REPLACE \1@version}
pre-commit_yaml:(rev:) \S+{REPLACE \1 version}
stderr:Copying from template version
stderr:DirtyLocalWarning{LINES 2}
stderr:No git tags found in template; using HEAD as ref
stderr:create
stderr:conflict
stderr:identical
stderr:overwrite
stderr:skip
