The following new files/directories were created:
<Test Directory>
----.copier-answers.yml
----.github
--------workflows
------------main.yml
----.pre-commit-config.yaml
----bin
--------copier
----copier.yaml
----template
--------.gitkeep
----test
--------config.tt
--------options.tt
--------testsuite.tt
--------GenerateProject
------------catalogue.tt
------------options.tt
------------stdout.tt
