{
  $schema: 'https://docs.renovatebot.com/renovate-schema.json',
  enabledManagers: [
    'copier',
    'git-submodules',
  ],
  extends: [
    'github>techneg-it/.github',
    'github>techneg-it/.github:copier',
  ],
  'git-submodules': {
    'enabled': true,
  },
  packageRules: [
    {
      automerge: true,
      matchManagers: [
        'git-submodules',
      ],
    },
  ],
}
