The following new files/directories were created:
<Test Directory>
----.copier-answers.yml
----.github
--------copier-renovate.json5
--------entrypoint.sh
--------renovate.json5
--------workflows
------------main.yml
------------renovate.yml
----.pre-commit-config.yaml
----bin
--------copier
----copier.yaml
----template
--------{{ _copier_conf.answers_file }}.copier-jinja
--------.github
------------copier-renovate.json5
------------entrypoint.sh
------------renovate.json5
------------workflows
----------------renovate.yml
----test
--------config.tt
--------options.tt
--------testsuite.tt
--------GenerateProject
------------catalogue.tt
------------options.tt
------------stdout.tt
